.hero { 
  
  min-height: 215px;
  text-align: center;
  color: $white;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: $dark-blue;
  background-size: cover;  
  //background: $blue url(../img/page-banner.jpg) no-repeat 50% 50%;
  .inner-container {
    margin: auto;
  }
  
  .hero__content {
    margin: auto;
  }
  &.about {
    //color: $black;
    //background: $blue url(../img/page-banner3.jpg) no-repeat 50% 50%;
  }
  &.contact {    
    background-color: $dark-blue;
  }
  &.media {
    background-color: $dark-blue;
  }
  &.issues {    
    //background: $blue url(../img/page-banner2.jpg) no-repeat 50% 50%;
  }
  &.donate {
    background-color: $dark-blue;
  }
  &.homepage {
    min-height: 330px;
    background: url(../img/banner.jpg) no-repeat left top;
    background-size: cover;  

    @media (min-width: $screen-sm) {
      min-height: 315px;  
    }
    @media (min-width: $screen-md) {
      min-height: 450px;  
    }
    @media (min-width: $screen-lg) {
      min-height: 550px;  
    }
  }
}
