////
/// Global Animations
/// @group Animations
/// @author Noah Westwind
////

@-webkit-keyframes spinnerRotate1 {
    from{-webkit-transform:rotate(360deg);}
    to{-webkit-transform:rotate(0);}
}
@-moz-keyframes spinnerRotate1 {
    from{-moz-transform:rotate(360deg);}
    to{-moz-transform:rotate(0);}
}
@-ms-keyframes spinnerRotate1 {
    from{-ms-transform:rotate(360deg);}
    to{-ms-transform:rotate(0);}
}
@keyframes spinnerRotate1 {
    from{transform:rotate(360deg);}
    to{transform:rotate(0);}
}

// SHOW-ANIMATION

.show {
	position: relative;
  opacity: 0;
  -webkit-animation: showText .6s forwards;
  -moz-animation: showText .6s forwards;
  animation: showText .6s forwards;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  .no-cssanimations & {
  	opacity: 1;
  }

  &:nth-child(1) {
    -webkit-animation-delay:1s;
    animation-delay:1s;
  }
  &:nth-child(2) {
    -webkit-animation-delay:1.3s;
    animation-delay:1.3s;
  }
  &:nth-child(3) {
    -webkit-animation-delay:1.6s;
    animation-delay:1.6s;
  }
  &:nth-child(4) {
    -webkit-animation-delay:1.9s;
    animation-delay:1.9s;
  }
  &:nth-child(5) {
    -webkit-animation-delay:2.2s;
    animation-delay:2.2s;
  }
}


@-webkit-keyframes showText {
  0%   { opacity: 0; }
  100% { opacity: .75; }
}
@keyframes showText {
  0%   { opacity: 0; }
  100% { opacity: .75; }
}

.scale {
  opacity: 0;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -webkit-animation: scaleElem 0.6s cubic-bezier(.87,-.41,.19,1.44) forwards;
  -moz-animation: scaleElem 0.6s cubic-bezier(.87,-.41,.19,1.44) forwards;
  -ms-animation: scaleElem 0.6s cubic-bezier(.87,-.41,.19,1.44) forwards;
  animation: scaleElem 0.6s cubic-bezier(.87,-.41,.19,1.44) forwards;
  .no-cssanimations & {
  	opacity: 1;
  	transform: scale(1);
  }
}


@-moz-keyframes scaleElem {
  0%   {
  	-moz-transform: scale(0);
  	opacity: 0;
 	}
  100% {
  	-moz-transform: scale(1);
  	opacity: 1;
  }
}
@-webkit-keyframes scaleElem {
  0%   {
  	-webkit-transform: scale(0);
  	opacity: 0;
 	}
  100% {
  	-webkit-transform: scale(1);
  	opacity: 1;
  }
}
@-ms-keyframes scaleElem {
  0%   {
  	-ms-transform: scale(0);
  	opacity: 0;
 	}
  100% {
  	-ms-transform: scale(1);
  	opacity: 1;
  }
}
@keyframes scaleElem {
  0%   {
  	transform: scale(0);
  	opacity: 0;
  }
  100% {
  	transform: scale(1);
  	opacity: 1;
  }
}
