nav {  
   	// margin: auto;
    order: 3;    
	a {
		color: $black;
		padding: .25em 1em; 
		font-weight: $base-font-weight;
		transition: all 250ms cubic-bezier(1, 1, 0, 1);
		border-radius: 10px;
		& + a {
			margin-left: 0;
		}
		&.active {
			background: $dark-blue;
			color: $white;
		}
		&:hover {
			background: rgba($dark-blue, .75);
			color: $white;
		}
		&.donate-btn {
			background: $green;
			color: $white;
			&:hover {
				background: rgba($dark-green, .95);
			}
		}
	}
	.scroll & {
		color: $green;
	}
}