section { 
	position: relative;
	padding: 3em 0;
  @include clearfix();
  &.video {
    padding: 6em 0;
  }
  a {
    color: currentColor;
  }

  hr {
    border: 1px solid currentColor;
  }
  &.white {
    background-color: $white;
    color: $black;
  }
  &.yellow {
    background-color: $yellow;
    color: $text-color;
  }
  &.green {
    background-color: $green;
    color: $white;
  }
  &.light-blue {
    background-color: $light-blue;
    color: $white;
  }
  &.orange {
    background-color: $orange;
    color: $white;
  }
  &.blue {
    background-color: $blue;
    color: $white;
  }
  &.gray {
    background-color: $light-gray;
    color: $black;
  }  
  &.black {
    background-color: $black;
    color: $white;
  }
  &.gradient {
      &.yellow {
      color: $black;
      background: #e38600;
      background: -moz-linear-gradient(top, #e38600 0%, #ffc840 40%, #ffc840 100%);
      background: -webkit-linear-gradient(top, #e38600 0%,#ffc840 40%,#ffc840 100%);
      background: linear-gradient(to bottom, #e38600 0%,#ffc840 40%,#ffc840 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e38600', endColorstr='#ffc840',GradientType=0 );
    }
    &.green {
      color: $white;
      background: #b6e026;
      background: -moz-linear-gradient(top, #b6e026 0%, #00ca44 40%, #00ca44 100%);
      background: -webkit-linear-gradient(top, #b6e026 0%,#00ca44 40%,#00ca44 100%);
      background: linear-gradient(to bottom, #b6e026 0%,#00ca44 40%,#00ca44 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6e026', endColorstr='#00ca44',GradientType=0 );
    }
  }
}
